.hero {
    /* margin-top: -20px; */
    position: relative;
    width: 100%;
    height: 880px;
    padding-top: 135px;
    opacity: 1;

    @media all and (max-width: 800px) {
        padding-top: 107px;
        height: 400px;
    }

    @media all and (max-width: 485px) {
        height: 477px;
        padding-top: 107px;
    }

    @media all and (max-width: 405px) {
        height: 477px;
        padding-top: 107px;
    }


    @media all and (max-width: 405px) {
        height: 530px;
        /* padding-top: 107px; */
    }

    @media all and (max-width: 320px) {
        height: 620px;
        /* padding-top: 107px; */
    }

    &__title {
        margin: 0;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 90px;
        color: #caffac;
        --hue: 0;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: hsl(var(--hue)), 50%, 95%;

        text-shadow: 0 0 15px hsl(var(--hue), 60%, 90%, .80),
            0 0 20px hsl(var(--hue), 70%, 80%, .85),
            0 0 40px hsl(var(--hue), 80%, 70%, .90),
            0 0 60px hsl(var(--hue), 90%, 60%, .95),
            0 0 80px hsl(var(--hue), 100%, 50%, 1);

        @media all and (max-width: 1440px) {
            margin-bottom: 60px;
        }


        @media all and (max-width: 1080px) {
            font-size: 72px;
            margin-bottom: 60px;
        }

        @media all and (max-width: 800px) {
            font-size: 52px;
            margin-bottom: 47px;
        }

        @media all and (max-width: 485px) {
            font-size: 42px;
            margin-bottom: 30px;
        }
    }

    &__description {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 84px;
        max-width: 500px;
        line-height: 30px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        color: #f3f3f3;
        background-color: rgba(0, 0, 0, .2);
        padding: 15px;
        padding-inline: 30px;

        @media all and (max-width: 1440px) {
            margin-bottom: 82px;
        }

        @media all and (max-width: 1080px) {
            font-size: 20px;
            max-width: 395px;
            margin-bottom: 65px;
        }

        @media all and (max-width: 800px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 41px;
            max-width: 355px;
        }

        @media all and (max-width: 485px) {
            font-size: 16px;
            line-height: 21px;
            padding-inline: 10px;

        }
    }

    &__btn {
        cursor: pointer;
        font-family: "Raleway";
        font-weight: 600;
        font-size: 22px;
        color: #f2f2f2;

        padding: 16px 32px;

        background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #06a015b7 0%, #067527c6 56.36%);
        border-radius: 4px;

        &:hover {
            background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #07bb19c4 0%, #089e35 43.75%, #11cc65c4 68.37%);
        }

        @media all and (max-width: 1440px) {
            padding: 16px 49px;
        }

        @media all and (max-width: 1080px) {
            padding: 16px 37px;
        }

        @media all and (max-width: 800px) {
            font-size: 18px;
            padding: 12px 33px;
        }

        @media all and (max-width: 485px) {
            font-size: 15px;
            padding: 12px 37px;
            background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #06a015da 0%, #067527e5 56.36%);

        }

        @media all and (max-width: 300px) {
            font-size: 13px;
            padding: 8px 17px;
            background: radial-gradient(142.65% 2282.99% at 100% -31.65%, #06a015da 0%, #067527e5 56.36%);

        }
    }

    &__arrow {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);

        width: 105px;
        height: 96px;
        cursor: pointer;
        background-image: url('/img/hero_arrow.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media all and (max-width: 1080px) {
            bottom: 66px;
        }
    }
}

.hero::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    opacity: 0.6;
    height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/hero_bg.jpg");
    z-index: -1;

    @media all and (max-width: 800px) {
        /* padding-top: 107px; */
        height: 600px;
    }

    @media all and (max-width: 485px) {
        height: 457px;
        /* padding-top: 107px; */
    }

    @media all and (max-width: 405px) {
        height: 520px;
        /* padding-top: 107px; */
    }

    @media all and (max-width: 320px) {
        height: 600px;
        /* padding-top: 107px; */
    }
}