.otherPageContainer {
    h1 {
        margin-top: 10px;
    }

    p {
        padding-left: 10px;
        padding-block: 10px;
        color: #ccc;
    }

    ul {
        padding-left: 10px;
    }

    li {
        padding: 0;
    }
}